Repository Larsone1/mecloneme-mini-deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: python3 -m black
  language: system

ruff:
  name: ruff
  entry: python3 -m ruff check --fix
  language: system

prettier:
  name: prettier
  entry: web/node_modules/.bin/prettier --write --ignore-unknown --ignore-path .prettierignore
  language: system
  pass_filenames: true

chore(ci): stabilize prettier hook + add .prettierignore
  .prettierignore
Due: none

ci: fix working-directory for Python job (black/ruff)
  .github/workflows/ci.yml
Due: prettier

ci: make lint checks robust (guard missing dirs) & run prettier on web/
  .github/workflows/ci.yml
Due: prettier

ci: run checks on push for all branches (unblocks PR)
  .github/workflows/ci.yml
Due: prettier

chore: enforce Polish and ignore vite cache
  .GEMINI.md
  web/.gitignore
  web/.vite/deps/_metadata.json
Due: prettier

feat(api): landing page on / with links to health/version/docs
  MeCloneMe_min_deploy/backend/mcm_api.py
  render.yaml
  web/.vite/deps/chunk-B2WE2YPZ.js
  web/.vite/deps/chunk-B2WE2YPZ.js.map
  web/.vite/deps/react-dom_client.js
  web/.vite/deps/react-dom_client.js.map
  web/.vite/deps/react.js
  web/.vite/deps/react.js.map
Due: black, ruff, prettier

chore(ci+deploy): render blueprint & post-merge cleanup
  render.yaml
  web/.env.production
  web/src/App.jsx
Due: prettier

chore(web): fix GH Pages blank screen (base path + 404.html + .nojekyll)
  web/.vite/deps/chunk-B2WE2YPZ.js
  web/.vite/deps/react-dom_client.js
  web/.vite/deps/react.js
  web/public/.nojekyll
  web/src/App.jsx
Due: prettier

ci(pages): replace workflow with minimal proven config + base + nojekyll
  .github/workflows/deploy-pages.yml
  web/vite.config.js
Due: prettier

ci(pages): replace workflow with minimal proven config + base + nojekyll
  .pre-commit-config.yaml
  web/.env.production
  web/.prettierignore
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/App.jsx
  web/src/main.jsx
  web/vite.config.ts
Due: prettier

ci: unblock — single Pages workflow, SPA fallback; bypass local hooks
  web/.vite/deps/chunk-B2WE2YPZ.js
  web/.vite/deps/react-dom_client.js
  web/index.html
  web/package-lock.json
  web/src/App.jsx
  web/src/main.jsx
  web/vite.config.ts
Due: prettier

api(cors): allow https://larsone1.github.io (Pages) + localhost dev
  MeCloneMe_min_deploy/backend/app.py
Due: black, ruff

cors: allow https://larsone1.github.io + localhost (auto-detected framework)
  MeCloneMe_min_deploy/backend/mcm_api.py
Due: black, ruff

feat(api): add CORS for GH Pages (https://larsone1.github.io)
  MeCloneMe_min_deploy/backend/app.py
Due: black, ruff

feat(api): fix CORS (add FastAPI app, correct Request import, clean \1)
  MeCloneMe_min_deploy/backend/app.py
Due: black, ruff

fix(api): enable CORS for GH Pages + fix imports
  MeCloneMe_min_deploy/backend/app.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  prettier: any of: ^web/|^.*\.(md|json|ya?ml)$
